<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>A Chart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../styles.css" > -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
        body {
            background: #FFFFFF;
            font-family: 'Work Sans', sans-serif;
            overflow: hidden;
            margin: 2rem;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: calc(100% - 4rem);
            height: 2.5rem; 
            color : #50b1e4;
            margin: 5px;
            border-top: 1px solid silver;
            padding: 5px;
        }

        .tab-pane {
            padding: 2rem 0 0 5rem ;
        }

        header {
            background: aliceblue;
            padding: 1rem 1rem 0 1rem;
        }
        ul li { 
            padding: 10px 0px; 
        }
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }

        .dropdown-submenu>a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover>a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Project 2</a></li>
                <li style="float: right;"><a data-toggle="tab" href="#menu4">How to use!</a></li>
                <li style="float: right;" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#dropmenu">Other graphs <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#dropmenu" data-toggle="dropdown" class="dropdown-toggle">LSINF1252</a>
                            <ul class="dropdown-menu">
                                <li><a href="exercice1" role="tab" data-toggle="tab" >hi1</a></li>
                                <li><a href="exercice2" role="tab" data-toggle="tab">hi2</a></li>
                                <li><a href="exercice3" role="tab" data-toggle="tab" >hi3</a></li>
                                <li><a href="exercice4" role="tab" data-toggle="tab" >hi4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#dropmenu" class="dropdown-toggle" data-toggle="dropdown">LEPL1402</a>
                            <ul class="dropdown-menu">
                                <li><a href="exercice1" role="tab" data-toggle="tab" >hi1</a></li>
                                <li><a href="exercice2" role="tab" data-toggle="tab">hi2</a></li>
                                <li><a href="exercice3" role="tab" data-toggle="tab" >hi3</a></li>
                                <li><a href="exercice4" role="tab" data-toggle="tab" >hi4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#dropmenu" class="dropdown-toggle" data-toggle="dropdown">LSINF1101-PYTHON</a>
                            <ul class="dropdown-menu">
                                <li><a href="exercice1" role="tab" data-toggle="tab" >hi1</a></li>
                                <li><a href="exercice2" role="tab" data-toggle="tab">hi2</a></li>
                                <li><a href="exercice3" role="tab" data-toggle="tab" >hi3</a></li>
                                <li><a href="exercice4" role="tab" data-toggle="tab" >hi4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>  
                <li style="float: right;"><a data-toggle="tab" href="#menu3">Graph 3</a></li>
                <li style="float: right;"><a data-toggle="tab" href="#menu2">Graph 2</a></li>
                <li style="float: right;"><a data-toggle="tab" href="#menu1">Graph 1</a></li>
                
            </ul>
        </div>
    </header>

    </div>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3 style="text-align: center ;">Project 2</h3>
            <p>
                <ul style="list-style: none; text-align: center;">
                    <li>Graph 1 shows the top ten tasks from varius courses that were tried by the most students and also how many of them succeeded.
                    </li>
                    <li>Graph 2 shows the difference between the number of successfull tries and failed ones for each course.
                    </li>
                    <li>Graph 3 shows the tasks that have the most tries in average.
                    </li>
                </ul>
            </p>
        </div>
        <div id="menu4" class="tab-pane fade">
            <h3 style="text-align: center ;">How to use!</h3>
            <p>
                <ul style="list-style: none; text-align: center;">
                    <li>You can freely navigate through the diffrent graphs via the interaction tab
                    </li>
                    <li>Simply choose the graph you want and press the button.
                    </li>
                    <li>Hope you enjoy!
                    </li>
                </ul>
            </p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="chart-container" >
                <canvas id="myChart1"></canvas>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="chart-container" >
                <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="chart-container">
                <canvas id="myChart3"></canvas>
            </div>
        </div>
        <div id="course1" class="tab-pane">
            <div>
                <canvas id="myChart4"></canvas>
            </div>
        </div>
        
        </div>
   
    <div id="footer">
        <span>Adrien Montariol - Arthur Wery - Giannis Matrozos</span>
        <span style="float: right;">Travail réalisé dans le cadre du projet 2</span>
    </div>

    <script>
        $(document).ready(function(){
            $('.dropdown-submenu a.test').on("hover", function(e){
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

    <script>
        
        function chart1() {
            var ctx = document.getElementById('myChart1').getContext('2d');
            ctx.clearRect(0, 0, 100000, 100000);
            var getData = $.get('/difftasks');
            
            getData.done(function (response) {

                var tasks = response.difftasks.map(r => "'" + r.lbl + "'")
                var getData1 = $.get("/percent?tasks=" + tasks.join(','));

                getData1.done(function (response1) {
                    var myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    title: 'Inginious',
                    data: {
                        labels: response.difftasks.map(r => r.lbl),
                        datasets: [{
                            label: 'Number of students that tried the exercise',
                            data: response.difftasks.map(r => r.val),
                            backgroundColor: '#50b1e4',
                            borderColor: '#50b1e4'
                        },
                        {
                            label: 'Number of students that succeeded the exercise',
                            data: response1.percent.map(x => x.val),
                            backgroundColor: '#A7E6F1',
                            borderColor: '#A7E6F1',
                            // Changes this dataset to become a line
                            type: 'horizontalBar'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                }
                            }]
                        }
                    }
                });
                })
            })

        }
        
        function chart2() {
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            ctx2.clearRect(0, 0, 100000, 100000);
            var getData = $.get('/sql');

            getData.done(function (response) {

                var getData2 = $.get('/sql1')
                getData2.done(function(response1) {
                    var myChart = new Chart(ctx2, {
                        type: 'horizontalBar',
                        data: {
                            labels: response.results.map(r => r.lbl),
                            datasets: [{
                                label: 'succeeded',
                                data: response.results.map(r => r.val),
                                backgroundColor:'#50b1e4',
                                borderColor: '#50b1e4'
                            },
                            {   
                                label:'failed',
                                data: response1.results1.map(x => -x.val),
                                type:'horizontalBar',
                                backgroundColor:'#A7E6F1',
                                borderColor: '#A7E6F1'
                            }]
                        },
                        options:{
                            tooltips: { 
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        return data.datasets[tooltipItem.datasetIndex].label + ": " + Math.abs(tooltipItem.xLabel);

                                    },
                                }
                            },
                        
                            scales:{
                                yAxes:[{
                                    stacked:true,
                                    ticks:{
                                        absolute:true,
                                        beginAtZero:true
                                    }
                                }],
                                xAxes:[{
                                    ticks: {
                                        callback: function(label, index, labels) {
                                            return Math.abs(label);
                                        }
                                    }
                                }]
                            }
                        }
                    
                    });
                    
                    
                })

            })

        }
        
        function chart3() {
            var ctx3 = document.getElementById('myChart3').getContext('2d');
            
            var getData1 = $.get('/try');
            getData1.done(function (avgtries){
                var myChart3 = new Chart(ctx3, {
                    type: 'horizontalBar',
                    title: 'Inginious',
                    data: {
                        labels: avgtries.avgtries.map(r => r.lbl),
                        datasets: [{
                            label: 'Average amount of tries',
                            data: avgtries.avgtries.map(r => r.val),
                            backgroundColor: '#50b1e4',
                            borderColor: '#50b1e4'

                        }
                        ]
                    }

                });
            })
        }
          
        // function chart4() {
        //     var ctx = document.getElementById('myChart4').getContext('2d');
        //     ctx.clearRect(0, 0, 100000, 100000);
        //     var getData = $.get('/difftasks');
            
        //     getData.done(function (response) {

        //         var tasks = response.difftasks.map(r => "'" + r.lbl + "'")
        //         var getData1 = $.get("/percent?tasks=" + tasks.join(','));

        //         getData1.done(function (response1) {
        //             var myChart = new Chart(ctx, {
        //             type: 'horizontalBar',
        //             title: 'Inginious',
        //             data: {
        //                 labels: response.difftasks.map(r => r.lbl),
        //                 datasets: [{
        //                     label: 'Number of students that tried the exercise',
        //                     data: response.difftasks.map(r => r.val),
        //                     backgroundColor: '#50b1e4',
        //                     borderColor: '#50b1e4'
        //                 },
        //                 {
        //                     label: 'Number of students that succeeded the exercise',
        //                     data: response1.percent.map(x => x.val),
        //                     backgroundColor: '#A7E6F1',
        //                     borderColor: '#A7E6F1',
        //                     // Changes this dataset to become a line
        //                     type: 'horizontalBar'
        //                 }]
        //             },
        //             options: {
        //                 scales: {
        //                     yAxes: [{
        //                         display: true,
        //                         ticks: {
        //                             beginAtZero: true,
        //                         }
        //                     }]
        //                 }
        //             }
        //         });
        //         })
        //     })

        // }

        
        chart1();
        chart2();
        chart3();
        //chart4();

    </script>
</body>
</html>